*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'spartan',sans-serif;
    text-decoration: none;
}
.full-page{
    
    background-image: url(background.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 50px;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:orangered;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background: orangered;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    

}
div.form{
    width:450px;
    background-color: bisque;
    
    background: transparent;
}
/* div.form h2{
    text-align: center;
    background-color: orangered;
    padding: 12px 0px;
    color: white;
} */
div.form form{
    padding: 30px 60px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;          
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: auto;
    background:orangered;
    border: 0;
    outline: none;
    border-radius: 30px;
    justify-content: center;
}
div.form div.input-field i{
    color:orangered ;
    padding: 10px 14px;
    background-color: black;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;
}
.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 1s;
}
#login{
    left: 50px;
}
#login input{
    color: white;
    font-size: 15;
}